.Immagine3{
    margin-left: 10px;
    margin-top: 10px;
  }

.Nomes{
    background-color: rgb(82, 78, 78);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Niki{
    color: white;
    font-size: 60px;
    margin-right: 150px;

}
.Profe{
    color: white;
    font-size: 30px;

}
.Stupidu{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(82, 78, 78);
}
.TitoliNoti{
    display: flex;
    justify-content: space-between;
    background-color: rgb(150, 47, 47);
}

.Skills{
    margin-right: 150px;
}
.Skills2{
    margin-left: 50px;
}
.BottoneC{
    text-align: center;
    padding-top: 50px;
    background-color: rgb(150, 47, 47);
}
.Bottones{
    text-align: center;
    padding-top: 10px;
    background-color: rgb(150, 47, 47);
    padding-bottom: 20px;
}
.Bottoneaaa{
    background-color: blue;
    color: black;
    border: 2px solid black;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
}